<h1>Selected User: <%= user.name %></h1>

<p><strong>Name:</strong> <%= user.name %></p>
<p><strong>Email:</strong> <%= user.email %></p>
<p><strong>Role:</strong> <%= user.role %></p>

<hr>

<h3>Actions</h3>
<ul>
    <li><a href="/admin/user/<%= user._id %>/edit">Edit User</a></li>
</ul>